<md-card>Scale Generator</md-card>
<form #scaleForm="ngForm" (ngSubmit)="onSubmit(scaleForm)">
    <div class="form-group">
        <label for="tuning">Select Tuning:</label>
        <select id="tuning" name="tuning" [(ngModel)]="model.tuning" #tuning="ngModel">
            <option value="standard">Standard</option>
            <option value="dropD">Drop D</option>
            <option value="dropC">Drop C</option>
            <option value="openC">Open C</option>
        </select>
    </div>
    <div class="form-group">
        <label for="note">Select Scale:</label>
        <select id="note" name="note" [(ngModel)]="model.note" #note="ngModel">
            <option *ngFor="let note of notes" value="{{note}}">{{ note }}</option>
        </select>
        <select id="mode" name="mode" [(ngModel)]="model.mode" #mode="ngModel">
            <option *ngFor="let mode of modes" value="{{mode}}">{{ mode }}</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit">Go</button>
    </div>
</form>
<md-card style="padding: 5px!important;">
    <div style="clear: both;"></div>
    <div *ngFor="let string of strings">
        <div class="string">
            <h1 class="fret openString" [class.inScale]="string.isInScale">{{ string.tuning }}</h1>
            <div class="fret" [class.inScale]="fret.isInScale" *ngFor="let fret of string.frets">
                <span>{{ fret.noteValue }}</span>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</md-card>
