th, td {
    font-size: 12px;
    text-align: center;
}

.fretboard {
    table-layout: fixed;
}

.inScale {
    background-color: cornflowerblue;
    color: white;
}

.isRoot {
    background-color: green;
    color: white;
}

.config-form {
    margin-top: 20px;
}

.label-as-badge {
    border-radius: 1em;
}

td span {
    font-size: 14px;
}

.mode-row {
    margin-bottom: 10px;
}

.mode-button {
    margin-right: 5px;
}