<div class="config-form">
    <form #scaleForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label for="guitar" class="col-sm-2">Configure guitar</label>
            <div class="col-sm-2">
                <select id="guitar" name="guitar" class="form-control form-control-sm" [ngModel]="selectedGuitar" (ngModelChange)="onGuitarChange($event)">
                    <option *ngFor="let g of guitars" [ngValue]="g">{{ g.name }}</option>
                </select>
            </div>
            <div class="col-sm-2">
                <select id="tuning" name="tuning" class="form-control form-control-sm" [ngModel]="selectedTuning" (ngModelChange)="onTuningChange($event)">
                    <option *ngFor="let t of tunings" [ngValue]="t">{{ t.name }}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="scale" class="col-sm-2">Select Scale</label>
            <div class="col-sm-2">
                <select id="scale" name="scale" class="form-control form-control-sm" [(ngModel)]="selectedScale" #scale="ngModel">
                    <option *ngFor="let scale of scales" value="{{ scale.name }}">{{ scale.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary btn-sm" type="submit">Go</button>
            </div>
        </div>
    </form>
</div>
<div class="mode-row" role="group">
    <button *ngFor="let mode of modes" type="button" class="btn btn-sm mode-button" [class.btn-secondary]="mode.name !== selectedMode.name" [class.btn-info]="mode.name === selectedMode.name" (click)="selectMode(mode)">
        {{ mode.root}} {{ mode.name }}
    </button>
</div>
<div class="mode-row" role="group">
    <button *ngFor="let scalePosition of scalePositions" type="button" [disabled]="selectedMode.name !== 'Ionian'" class="btn btn-sm mode-button" [class.btn-secondary]="scalePosition.name !== selectedScalePosition.name" [class.btn-info]="scalePosition.name === selectedScalePosition.name" (click)="selectScalePosition(scalePosition)">
        {{ scalePosition.name }}
    </button>
</div>
<div class="mode-row">
    {{ displayScale.source[0] }} - {{ displayScale.source[1] }} - {{ displayScale.source[2] }} - {{ displayScale.source[3] }} - {{ displayScale.source[4] }} - {{ displayScale.source[5] }} - {{ displayScale.source[6] }}
</div>
<table class="table table-sm table-bordered fretboard">
    <thead class="thead-default">
        <tr>
            <th>Open</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let string of strings" class="string">
            <td>
                <span *ngIf="string.isInScale" class="label label-pill" [class.label-success]="string.isRoot" [class.label-info]="!string.isRoot">
                    {{ string.tuning }}
                </span>
                <span *ngIf="!string.isInScale">{{ string.tuning }}</span>
            </td>
            <td *ngFor="let fret of string.frets">
                <span *ngIf="fret.isInScale" class="label label-pill" [class.label-success]="fret.isRoot" [class.label-info]="!fret.isRoot">
                    {{ fret.noteValue }}
                </span>
                <span *ngIf="!fret.isInScale">{{ fret.noteValue }}</span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="thead-default">
            <th>Open</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
        </tr>
    </tfoot>
</table>
